html {
  font-size: 10px;
}
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: "Trebuchet MS", "Lucida Sans Unicode", "Lucida Grande",
    "Lucida Sans", Arial, sans-serif;
}
body {
  margin: 0 auto;
}
.title {
  font-size: 3.2rem;
  color: black;
  margin: 0 auto;
  text-align: center;
  margin-top: 20px;
}
#textarea {
  display: block;
  width: 1000px;
  margin: 0 auto;
  margin-top: 50px;
  padding: 5px 10px;
  font-size: 2.2rem;
}

.keyboard {
  width: 1008px;
  margin: 0 auto;
  margin-top: 30px;
  background-color: blanchedalmond;
  border: 2px solid black;
  border-radius: 5px;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
  gap: 5px;
  padding: 5px;
  cursor: pointer;
}

.button {
  width: 60px;
  height: 60px;
  border-radius: 3px;
  color: white;
  background-color: #3b3939;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 2.4rem;
}

.button:hover {
  transition: 0.3s;
  background-color: #d3cbcb;
  color: #000000;
}

.bigbutton {
  width: 125px;
  background-color: rgb(48, 46, 46);
}
.space {
  width: 346px;
}

.tab {
  width: 70px;
  background-color: rgb(48, 46, 46);
}

.leftshift {
  width: 160px;
  background-color: rgb(48, 46, 46);
}

.rightshift {
  width: 70px;
  background-color: rgb(48, 46, 46);
}

.funcbutton {
  width: 65px;
  background-color: rgb(48, 46, 46);
}
.darkbutton {
  background-color: rgb(48, 46, 46);
}
.uparrow::after {
  content: "\27A4";
  rotate: -90deg;
}

.downarrow::after {
  content: "\27A4";
  rotate: 90deg;
}
.leftarrow::after {
  content: "\27A4";
  rotate: 180deg;
}
.rightarrow::after {
  content: "\27A4";
}

.active {
  background-color: #fff;
  color: black;
}

.remove {
  animation: button_animation 0.5s forwards;
}

@keyframes button_animation {
  0% {
    background-color: #ffffff;
    color: #000000;
  }
  100% {
    background-color: #3b3939;
    color: #ffffff;
  }
}

@keyframes new_animation {
  0% {
    background-color: #ffffff;
    color: #000000;
  }
  100% {
    background-color: #3b3939;
    color: #ffffff;
  }
}

.new {
  animation: new_animation 0.5s forwards;
}
